:root {
  --fg:     #ccc;
  --bg:     #000;
  --spec1:  #FF0; 
  --yellow: #FF0;
  --d-yellow: #550;
}

@font-face {
  font-family: "IBM BIOS";
  src: url("static/Web437_IBM_BIOS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Minecraft Regular";
  src: url("static/MinecraftRegular-Bmg3.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family:'Courier New', Courier, monospace;
  box-sizing: border-box;
  color: var(--fg);
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
}

body {

  min-height: 100vh;
  overflow-x: hidden;

  background-color: rgba(0, 0, 0, 1);

  margin: 0;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('static/background2-1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-attachment: fixed;

  filter: invert(1) grayscale(100%);
}



.flex-container {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  z-index: 0;
}


#logo-container {
  position: relative;
  display: inline-block;
}

#logo {
  font-family: "IBM BIOS";

  position:relative;
  background-color: var(--bg);
  display: inline;

  bottom: 30px;
  left: 0.5rem;

  font-size: 30px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#logo-status {
  font-family: "Minecraft Regular";
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  rotate: -10deg;
  font-weight: bold;
  color: var(--yellow);
  top: -5px;
  right: -60px;
  animation: pulse 2s ease-in-out infinite;
  font-size: 16px;
  text-align: center;

  text-shadow: 2px 2px 0 var(--d-yellow);
}

#main-section {
  width: 450px;
}

#aside-right, #aside-left {
  width: 220px;
}

#aside-img {
  position: relative;
  z-index: 3;
  width: calc(100% - 0.5rem * 2);
  object-fit: cover;
  margin: 0.5rem;
  filter: grayscale(100%);

  transform: rotate(-5deg);
}

section {
  position: relative;
  font-size: 16px;
  margin: 0.5rem;
  padding: 1rem;
  border: dashed 1px var(--fg);
  background-color: rgba(20, 20, 20, 0.8);
  z-index: 1;
}

section p {
  background-color: var(--bg);
  font-size: 16px;
  text-align: justify;
}

section p:not(:last-child) {
  margin-bottom: 1rem;
}

section .header {
  position: absolute;
  top: -5px;
  background-color: var(--bg);
  font-weight: bold;
  z-index: 1;
}

section:hover {
  border: dashed 1px var(--spec1);
}

section:hover .header {
  color: var(--spec1);
}

.vertical-split {
  display: flex;
}

.vertical-split * {
  flex: 2;
}

#contact-info {
  flex: 1;
  margin: 0.5rem;
  text-align: center;
}

#contact-info * {
  margin-bottom: 1rem;
}

#contact-info .header {
  background-color: var(--bg);
  font-weight: bold;
}

#nav-list ul {
  margin: 0;
  list-style: none;
  list-style-position: outside;
  padding-left: 0;
}

#nav-list ul a {
  text-decoration: none;
}

#nav-list ul a:hover span, #nav-list .hover span {
  color: var(--bg);
  background-color: var(--fg);
  font-weight: bold;
}

#nav-list ul a:hover span::before{
  content: "> ";
}

#nav-list .hover span::before {
  content: ">> ";
}

#nav-list ul a:hover li, #nav-list .hover li {
  font-weight: bold;
  background-color: var(--fg);
}


#nav-list ul li{
  font-weight: bold;
  background-color: var(--bg);
}


.small {
  display: none;
}

#changelog {
  height: 100px;
}

#changelog #changelog-list {
  max-height: 100%;
  overflow-x: scroll;
}

footer {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 670px) {
  aside {
    display: none;
  }

  #logo-container {
    display: none;
  }

  .small {
    display:contents;
  }

  .flex-container {
    margin-top: 10px;
  }


  /* LOGO */
  #nav-small #logo-wrapper {
    margin-bottom: 20px;
  }

  #nav-small #logo-container {
    display: inline-block;
  }

  #nav-small {
    width: 100%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    padding: 5px;
  }

  #nav-small #logo {
    font-size: 24px;
    top: 0;
  }

  #nav-small #logo-status {
    top: 20px;
    right: -35px;
    font-size: 12px;
  }

  /* NAVIGATION */
  #nav-small #nav-button {
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    display: block;
    border-bottom: solid 1px var(--fg);
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  #nav-small #nav-toggle {
    display: none;
  }

  #nav-small #nav-button #arrow {
    display: inline-block;
  }

  #nav-small #nav-list {
    display: none;
    position: relative;
  }

  #nav-small #nav-toggle:checked ~ #nav-button #arrow {
    transform: rotate(90deg);
  }

  #nav-small #nav-toggle:checked ~ #nav-list {
    display: inline-block;
  }

  #nav-small #nav-list li {
    border-bottom: solid 1px var(--fg);
    padding-bottom: 2px;
  }

  #nav-list ul a:hover li, #nav-list .hover li {
    background-color: var(--fg);
  }


}

