<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/static/gallery.css">
  </head>
  <body>
    <nav id="nav-small" class="small">
      <div id="logo-wrapper">
        <div id="logo-container">
          <h1 id="logo">art gallery</h1>
        </div>
      </div>


      <input type="checkbox" id="nav-toggle">

      <label id="nav-button" for="nav-toggle">
        <span id="arrow">&gt;</span> navigation
      </label>

      <div id="nav-list">
        <ul>
          <a href="/" class="hover"><li><span>home</span></li></a>
          <a href="about-me"><li><span>about me</span></li></a>
          <a href="blog"><li><span>blog</span></li></a>
          <a href="portfolio"><li><span>portfolio</span></li></a>
        </ul>
      </div>
    </nav>
    <div class="flex-container"> 
      <div id="main-section">
        <section>
          <div id="logo-container">
            <h1 id="logo">art gallery</h1>
          </div>
          <div class="gallery">
            {{ range .Arts }}
            <div class="art-container" id="{{ .Name }}">
              <header>
                <b>{{ .Name }}</b>
                <span>{{ .Date.Format "2006-01-02" }}</span>
              </header>
              <pre class="art">
               {{ .Content }}
              </pre>
              <form action="/like" method="POST">
                <input type="hidden" name="id" value="{{ .Name }}">
                <button type="submit">❤ {{ .Likes }}</button>
              </form>
            </div>
            {{ end }}
          </div>



        </section>
        <footer>
          est. {{ .year }} * visitor nr {{ .visitor }} 
        </footer>

      </div>
    </div>
  </body>
</html>
