<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/static/index.css">
  </head>
  <body>
    <!--- DB CONNECT , status-->
    <nav id="nav-small" class="small">
      <div id="logo-wrapper">
        <div id="logo-container">
          <h1 id="logo">cryobs.xyz</h1>
          <span id="logo-status">{{ .status }}</span>
        </div>
      </div>


      <input type="checkbox" id="nav-toggle">

      <label id="nav-button" for="nav-toggle">
        <span id="arrow">&gt;</span> navigation
      </label>

      <div id="nav-list">
        <ul>
          <a href="/" class="hover"><li><span>home</span></li></a>
          <a href="about-me"><li><span>about me</span></li></a>
          <a href="blog"><li><span>blog</span></li></a>
          <a href="portfolio"><li><span>portfolio</span></li></a>
        </ul>
      </div>
    </nav>
    <div class="flex-container"> 
      <div id="main-section">
        <section>
          <div id="logo-container">
            <h1 id="logo">cryobs.xyz</h1>
            <span id="logo-status">{{ .status }}</span>
          </div>
          <p>
          Hello, I'm 17 years old computer enthusiast, and this is my website
          created with the idea of isolating myself from "social networks" 
          while still keeping my ability to create 
          and with no <a href="link-to-article">JS</a>. :)
          </p>  
          <p>
          I'll post my projects here. Nothing fancy just code, ideas, and
          experiments. I love DevOps stuff also some low-level (C, ASM).
          </p>
        </section>

        <div class="vertical-split">
          
          <section id="systems-status">
            <span class="header" >Systems status</span>
              <div class="scroll-container">
                <!-- Systems Status -->
              </div>
          </section>

          <div id="contact-info">
            <div class="header">contact info:</div>
            <div>my@email.com</div>
            <div>my@email.com</div>
            <div>my@email.com</div>
          </div>
        </div>
        
        <section id="current-focus">
          <span class="header" >lately I've been into</span>
          <!-- Im into -->
        </section>
 
        <section id="latest-post">
          <span class="header" >latest post</span>
          <p>smth will be here</p>
        </section>

        <footer>
          est. 2025 * visitor nr {{ .visitor }} 
        </footer>

      </div>
      <aside id="aside-right">
        <img id="aside-img" src="/static/hotel-panorama.jpg">
        <section id="nav-list">
          <span class="header">navigation</span>
          <div class="scroll-container">
            <ul>
              <a href="/" class="hover"><li><span>home</span></li></a>
              <a href="about-me"><li><span>about me</span></li></a>
              <a href="blog"><li><span>blog</span></li></a>
              <a href="portfolio"><li><span>portfolio</span></li></a>
            </ul>
          </div>
        </section>
        
        <section id="changelog">
          <span class="header">changelog</span>
          <div id="changelog-list">
            <!-- changelog -->
          </div>

        </section>
        
        <section id="my-button">
          <span class="header">my button</span>
          <p>
            here must be a button.
          </p>

        </section>
      </aside> 
    </div>
  </body>
</html>
