@font-face {
    font-family: "Fira-Code";
    src: url("/fonts/fira-code/static/fira-code-latin-500-normal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
} 

body {
    color: #CCCCCC;
    background-color: #050505;
    margin: 0;
    padding: 0;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    font-family: "Fira-Code";
}

a {
    color: white;
}

.ascii-box {
    width: 79ch;
    font-size: clamp(5px, 2vw, 14px);
}

.ascii-box pre {
    margin: 0;
    user-select: none;
}

.ascii-box pre * {
    user-select: text;
}

.ascii-box pre .copy-btn {
    user-select: none;
}

.text-box {
    width: 79ch;
    display: flex;
    align-items: stretch;
}

.left-border, .right-border {
    flex-shrink: 0;
    margin: 0;
    flex: 0 0 auto;
}

.text {
    flex: 1;
    min-height: 0;
}

.text-box h1 {
    font: inherit;
    font-size: inherit;
    font-weight: normal;
    margin: 0;
    margin-bottom: 2ch;
    padding: 0;
    color: white;
    text-align: center;
}
.text p {
    margin: 0;
    white-space: pre-wrap;
}




header {
    position: relative;
    display: inline-block;
}

@keyframes pulse {
    0% {
        transform: translate(50%, -50%) scale(1) rotate(-10deg);
    }
    50% {
        transform: translate(50%, -50%) scale(1.1) rotate(-10deg);
    }
    100% {
        transform: translate(50%, -50%) scale(1) rotate(-10deg);
    }
}

#logo-status {
    position: absolute;

    bottom: 1.5em;
    right: 6em;

    font-weight: bold;
    color: yellow;
    animation: pulse 2s ease-in-out infinite;
    font-size: clamp(5px, 2.5vw, 16px);
    text-align: center;

    text-shadow: 2px 2px 0 #550;
}

.copy-btn {
    background: none;
    border: 0;
    padding: 0;
    color: white;
    font: inherit;
    cursor: pointer;
    user-select: none;
}

.copied {
    position: fixed;
    pointer-events: none;
    user-select: none;

    animation: copied 0.8s ease-out forwards;
    font-weight: bold;
    color: #ffff00;
}

@keyframes copied {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-25px);
    }
}